.todo-list-container {
	width: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	gap: 2rem;

	border: 3px solid white;
	border-radius: 1rem;
	background-color: hsla(0, 100%, 100%, .7);
	padding: 3rem;
}

.todo-list-container > header {
	font-size: 3vmin;
	text-align: center;
}

.todo-form-container {
	height: 5vmin;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: .4rem;
}

.todo-form-container > * {
	height: 100%;
	border-radius: 5px;
	border: none;
}

.todo-form-input {
	width: 100%;
	height: 100%;
	padding: 1rem;
	font-size: 1.3rem;
}

.todo-form-input:focus-visible {
	outline: 3px solid var(--linear-gradient-green);
}

.todo-form-input.red:focus-visible {
	outline: 3px solid var(--linear-gradient-red);
}

.todo-form-input.yellow:focus-visible {
	outline: 3px solid var(--linear-gradient-yellow);
}

.todo-form-button {
	cursor: pointer;
	color: white;
	padding: 0 1rem;

	font-size: 1.1rem;
	font-weight: bolder;
	text-transform: uppercase;

	background-color: var(--linear-gradient-green);
	color: black;
}

.todo-form-button:hover {
	outline: 3px solid var(--linear-gradient-green);
}

.todo-form-button.red {
	background-color: var(--linear-gradient-red);
	color: white;
}

.todo-form-button.yellow {
	background-color: var(--linear-gradient-yellow);
}

.todo-form-button.red:hover {
	outline: 3px solid var(--linear-gradient-red);
}

.todo-form-button.yellow:hover {
	outline: 3px solid var(--linear-gradient-yellow);
}

@media only screen and (max-width: 700px) {
	.todo-form-container {
		flex-direction: column;
	}
}

.todo-items-container {
	--item-border-radius: 5px;

	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	
	height: auto;
	width: 100%;
}

.todo-item {
	height: 5vh;
	border-radius: var(--item-border-radius);

	position: relative;

	background-color: var(--linear-gradient-green-w-opacity);

	border: 3px solid var(--linear-gradient-green);
}

.todo-item.red {
	background-color: var(--linear-gradient-red-w-opacity);

	border: 3px solid var(--linear-gradient-red);
}

.todo-item.yellow {
	background-color: var(--linear-gradient-yellow-w-opacity);

	border: 3px solid var(--linear-gradient-yellow);
}

.todo-item-text {
	overflow: hidden;
	width: 50%;
	height: 100%;
	margin-left: .8rem;
	display: flex;
	align-items: center;
}

.item-delete-button {
	position: absolute;
	bottom: 0;
	right: 0;

	background: none;
	border-radius: var(--item-border-radius);
	border: none;
	border-left: 3px solid var(--linear-gradient-green);

	padding: 0 1rem;

	height: 100%;

	cursor: pointer;
}

.item-delete-button.red {
	border-left: 3px solid var(--linear-gradient-red);
}

.item-delete-button.yellow {
	border-left: 3px solid var(--linear-gradient-yellow);
}

svg {
	width: 100%;
	height: 100%;
	scale: .7;
}
