@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	--linear-gradient-green: #c6ffdd;
	--linear-gradient-yellow: #fbd786;
	--linear-gradient-red: #f7797d;

	--linear-gradient-green-w-opacity: #c6ffddc2;
	--linear-gradient-yellow-w-opacity: #fbd786c2;
	--linear-gradient-red-w-opacity: #f7797dc2;

	--root-el-bg-image: linear-gradient(to right, var(--linear-gradient-green), var(--linear-gradient-yellow), var(--linear-gradient-red));
	--root-el-bg-fallback: var(--linear-gradient-green);
}

html {
	font-size: 16px;
}

#root {
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
 
	background-color: var(--root-el-bg-fallback);
	background-image: var(--root-el-bg-image);
}